# tofu/talos/machine-config/worker.yaml.tftpl
machine:
  kubelet:
    extraArgs:
      rotate-server-certificates: true
  network:
    hostname: ${hostname}
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}
---
apiVersion: v1alpha1
kind: ExtensionServiceConfig
name: cloudflared
environment:
  - TUNNEL_TOKEN=${cloudflared_token}
  - TUNNEL_METRICS=${cloudflared_metrics}
  - TUNNEL_EDGE_IP_VERSION=${cloudflared_edge_ip_version}